.popover-region-cart .count-container[data-count='0'] {
    display: none;
}

.cart-item {
    padding: 0.75rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.cart-item__image img {
    width: 180px;
}

@media (min-width: 576px) {
    .cart-item__image img {
        width: auto;
    }
}
